extends layout

block content
  h1= title
  p Welcome to #{title}Dream Big Aim Big
  button(type="button", class="btn btn-secondary btn-lg" onclick="update()") click here
  div(id="target" class="container text-center m-2 p-3" style="color:red;font-weight:700; background-color:lightyellow;") Display
  script. 
      var client_count=0 
      function update(){
        client_count++;
        document.getElementById("target").innerHTML=`Value now ${7}`
      }
  a(href="/horseS") Ride horses